
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f7f4;
    color: #4a5568;
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4a5568;
    border: 3px solid #f8f7f4;
}

.timeline-path::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #cbd5e0;
}

.active-filter {
    background-color: #374151 !important;
    color: #ffffff !important;
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    max-height: 50vh;
}

@media (min-width: 768px) {
    .chart-container {
        height: 500px;
    }
}

#hero > .container{
    background-image: url("../assets/img/foto-hero.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    #hero > .container{
        background-size: cover;
    }
}