section
    display: flex
    flex: 1
    width: 100vw
    padding: 1vh 3vw
    flex-direction: column

#home
    background: url("../images/home/bg-mobile.jpg") center center no-repeat
    background-size: cover
    min-height: 50vh
    position: relative
    z-index: 1
    align-items: center
    justify-content: center

@media (min-width: 729px)
    #home
        background: url("../images/home/bg-desktop.jpg") center center no-repeat

