.menu
    .menu-item
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        padding: 1em
        cursor: pointer
        &:hover, &.active
            background-color: #252525
            color: #fefefe
        