.main-content
    transition: 2s linear
    color: #fefefe
    width: 100%
    height: 100%
    position: relative

.main-content-page
    background-color: #252525
    z-index: 1
    position: absolute
    width: 100%
    overflow: hidden
    &.home
        animation: entrada 1s forwards ease-in 50ms
    &.curriculo
        animation: entradaCurriculo 1s forwards ease-in 50ms
        top: 70px
    &.projetos
        animation: entradaProjetos 1s forwards ease-in 50ms
        top: 138px
    &.contatos
        animation: entradaContatos 1s forwards ease-out 50ms
        top: 207px



$alturaInicial: 69px
@keyframes entrada
    0%
        transform: translateX(-105%)
        height: $alturaInicial
        content-visibility: hidden
    50%
        transform: translateX(0)
        height: $alturaInicial
    99%
        height: 100vh
        content-visibility: hidden
    100%
        content-visibility: visible
        height: 100vh


@keyframes entradaCurriculo
    0%
        transform: translateX(-105%)
        height: $alturaInicial
        content-visibility: hidden
        top: 69px
    50%
        transform: translateX(0)
        height: $alturaInicial
        top: 69px
    99%
        height: 100vh
        top: 0
        content-visibility: hidden
    100%
        height: 100vh
        top: 0
        content-visibility: visible

@keyframes entradaProjetos
    0%
        transform: translateX(-105%)
        height: $alturaInicial
        top: 138px
        content-visibility: hidden
    50%
        transform: translateX(0)
        height: $alturaInicial
        top: 138px
    99%
        height: 100vh
        top: 0
    100%
        height: 100vh
        top: 0
        content-visibility: visible

@keyframes entradaContatos
    0%
        transform: translateX(-105%)
        height: $alturaInicial
        top: 207px
        content-visibility: hidden
    50%
        transform: translateX(0)
        height: $alturaInicial
        top: 207px
    99%
        height: 100vh
        top: 0
    100%
        height: 100vh
        top: 0
        content-visibility: visible
    
        
