.main-content
    transition: 2s linear
    background-color: #252525
    color: #fefefe
    width: 100%
    height: 100%

.iframe
    animation: entrada 500 forwards ease-out 50


@keyframes entrada
    0%
        transform: translateX(-105%)
    100%
        transform: translateX(0)
        
