.menu-topo
    width: 100%
    background-color: rgba(0,0 ,0 ,.2 )
    ul
        height: 3em
        display: flex
        flex-direction: row
        justify-content: space-evenly
        align-items: center
        font-family: Raleway, sans-serif
        li
            display: flex
            justify-content: center
            align-items: center
            a
                color: #fff
@media (min-width: 729px)
    .menu-topo
        justify-content: flex-end
        width: 50vw
