/*

font-family: 'Patrick Hand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/

:root {
  --cor-links: #00ff7f;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f6f8fa;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* overflow-x: hidden; */
  flex-direction: column;
}

.container header {
  width: 100%;
  padding: 2em;
  background-color: #fff5;
}

.menu-topo {
  display: none;
}

.container header h1 {
  font-family: 'Patrick Hand', cursive;
  color: #000;
  text-align: center;
  /* text-shadow: 2px 2px #333; */
  font-size: 3em;
  width: 100vw;
  margin-left: -10vw;
}

.foto-perfil img {
  max-width: 100%;
  border: 5px solid #00ff7fa0;
  padding: 2px;
  border-radius: 50%;
}
h2 {
  font-family: 'Raleway', sans-serif;
}

a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: var(--cor-links);
  transition: all 0.4s ease;
}

a:hover {
  font-weight: 900;
}

table td {
  padding: 5px;
  border-right: 2px solid #00ff7f;
  transition: transform 0.3s ease;
}

table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3) {
  text-align: center;
}

table tbody tr td:nth-child(3) {
  border-right: none;
}

.td-tecnologias {
  display: none;
}

@media (min-width: 425px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .foto-perfil img {
    max-width: 50%;
  }

  .content {
    padding: 1em;
  }
}

@media (min-width: 768px) {
  .menu-topo {
    display: none;
    flex-direction: row;
  }

  .td-tecnologias {
    display: inline-block;
  }

  table tbody tr td:nth-child(3) {
    border-right: 2px solid #00ff7f;
  }
  table tbody tr td:nth-child(4) {
    border-right: none;
  }
}
