/* RESET SIMPLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
}

.properties{
    width: 300px;
    background-color: #5AA48E;
    padding: 20px;
    height: 100vh;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.square-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.square {
    width: 15em;
    height: 15em;
    border: 5px solid #000;
    margin-bottom: 2em;
    position: relative;
}
.rectangleh {
    width: 20em;
    height: 5em;
    border: 5px solid #000;
    margin-bottom: 2em;
    position: relative;
}
.rectanglev {
    width: 5em;
    height: 20em;
    border: 5px solid #000;
    margin-bottom: 2em;
    position: relative;
}




.unity-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.unity-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #D8DFA5;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}

input[type="radio"]:checked + label {
    font-weight: bold;
}

input[type="range"] {
    width: 90%;
}

#border-radius-top-left-value {
    position: absolute;
    left: -2em;
    top: -2em;
}
#border-radius-top-right-value {
    position: absolute;
    right: -2em;
    top: -2em;
}
#border-radius-botton-right-value {
    position: absolute;
    right: -2em;
    bottom: -2em;
}
#border-radius-botton-left-value {
    position: absolute;
    left: -2em;
    bottom: -2em;
}

.output {
    grid-area: css;
    display: flex;
    flex-direction: column;
}

#copiar {
    padding: 1em;
    transition: 0.3s;
}

#copiar:hover {
    background-color: #777;
    transition: 0.3s;
}

span {
    font-size: 1.2;
    font-weight: 600;
}

.forma-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.forma-group {
    background-color: #D8DFA5;
    cursor: pointer;
    transition: 0.4s ease;
}

.forma-group:hover {
    transform: scale(1.2);
}

.forma-group.active {
    border: 2px inset blue;
}


.forma {
    display: block;
    border: 2px solid #000;
}

.forma.square {
    margin: 10px;
    width: 30px;
    height: 30px;
}

.forma.rectangleh {
    margin: 15px 5px;
    width: 40px;
    height: 20px;
}

.forma.rectanglev {
    margin: 5px 15px;
    width: 20px;
    height: 40px;
}

#drawing {
    resize: both;
    overflow: hidden;
    transition: 0.2s linear;
}