/* RESET SIMPLE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 1em;
    display: grid;
    grid-template-areas: 
    "border-radius-top-left border-radius-top-left-value . border-radius-top-right-value border-radius-top-right"
    ". . square . ."
    "border-radius-botton-left border-radius-botton-left-value . border-radius-botton-right-value border-radius-botton-right"
    ". . css . .";
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}

.square {
    grid-area: square;
    width: 15em;
    height: 15em;
    border: 5px solid #000;
    margin: 0 auto;
    transition: 0.5s;

}

input[type="range"] {
    width: 90%;
}

#border-radius-botton-left {
    grid-area: border-radius-botton-left;
}

#border-radius-botton-right {
    grid-area: border-radius-botton-right;
}

#border-radius-top-left {
    grid-area: border-radius-top-left;
}

#border-radius-top-right {
    grid-area: border-radius-top-right;
}

#border-radius-top-left-value {
    grid-area: border-radius-top-left-value;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#border-radius-top-right-value {
    grid-area: border-radius-top-right-value;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#border-radius-botton-right-value {
    grid-area: border-radius-botton-right-value;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#border-radius-botton-left-value {
    grid-area: border-radius-botton-left-value;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.output {
    grid-area: css;
    display: flex;
    flex-direction: column;
}

#copiar {
    padding: 1em;
    transition: 0.3s;
}

#copiar:hover {
    background-color: #777;
    transition: 0.3s;
}

span {
    font-size: 1.2;
    font-weight: 600;
}